
  /* Almennt */
  
  html,
  input,
  select,
  button {
    font-size: var(--font-base-body-px);
    font-family: var(--font-family-base);
  }
  
  h1,
  h2,
  h3 {
    /* Setjum almennt bil á eftir fyrirsögnum */
    margin-bottom: var(--spacing);
  
    font-family: var(--font-family-heading);
  }
  
  a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  /** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }


  /* Takki */

.button {
  display: inline-block;

  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding: calc(var(--spacing) / 2) calc(var(--spacing));

  font-family: var(--font-family-base);
  text-decoration: none;
  text-align: center;

  color: var(--color-light);
  background-color: var(--color-dark);

  transition: background-color var(--transition-time-short)
      var(--transition-timing-function),
    color var(--transition-time-short);
}

.button:hover {
  color: var(--color-dark);
  background-color: var(--color-gold);
}




/* Layout */
.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
}


/** Fótur **/

.footer {
  padding: var(--spacing);
  border-top: var(--border-large) solid var(--color-gold);
  width: 100%;

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  .content {
    display: grid;
    gap: var(--vertical-space);

    margin: 0 auto;

    text-align: center;
  }

  ul {
    list-style: none;
  }
}

@media (min-width: 500px) {
  .footer {
    .content {
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-template-rows: auto;

      max-width: var(--max-width);
    }

    section {
      grid-column-end: span 4;
    }

    section:first-child {
      grid-column-start: 3;
    }
  }
}



  .footer ul {
    list-style: none;
  }


  /* Box! */

.boxes {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;

  width: 100%;
}

.box {
  grid-column: span 12;

  display: flex;
  flex-direction: column;

  gap: var(--spacing);

  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  min-height: 100px;

  color: var(--color-dark);
  background-color: var(--color-gold-light);
  border-radius: 5px;

  .title {
    margin-bottom: calc(var(--spacing) * 0.5);
    border-bottom: var(--border-small) solid var(--color-dark);
  }

  .content {
    flex: 1;
  }

  img {
    max-height: 400px;

    object-fit: cover;
    object-position: top center;
  }
}

@media (min-width: 500px) {
  .boxes {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 500px) {
  .box {
    grid-column: span 6;
  }
}

@media (min-width: 1000px) {
  .box {
    grid-column: span 4;
  }
}

@media (min-width: 1000px) {
  .box {
    img {
      max-height: 350px;
    }
  }
}
