/* Stillingar */

:root {
  // Litir
  --color-coffee: #704c34;
  --color-black-coffee: #402c1c;
  --color-light: #ffffff;
  --color-coffee-with-milk: #e1cec2;

  // Leturstillingar
  --font-base-size: 1rem;
  --font-family-base: "Lato", sans-serif;
}
