.eiginleiki{
    display: flex;
    flex-direction: column;
    gap: var(--vertical-space);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;

    h2{
        margin-left: 0;
    }
    
}
.eiginleiki h2{
    margin-bottom: 0rem;
}