// Leturgerðir

@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Lato-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Lato", sans-serif;
  font-style: normal;
  src: url("./fonts/Lato-Bold.ttf") format("woff");
}
