/** footer **/

.footer {
  display: grid;
  text-align: left;
  // justify-items: center;
  padding: var(--vertical-space);
  width: 100%;
  background-color: #3c2a1e;
  color: #fefefe;
}

.footer .content {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
}

.footer h2 {
  border-bottom: var(--border-small) solid #fefefe;
}

.footer ul {
  list-style: none;
  margin-left: 8px;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.copyright {
  text-align: center;
  background-color: #3c2a1e;
  color: #fefefe;
  padding: 1rem;

  border-top: solid #6f4e37 1px;
}

@media (min-width: 500px) {
  .footer .content {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
    max-width: var(--max-width);
  }
}
.footer .content section {
  grid-column: span 12;
}
@media (min-width: 500px) {
  .footer .content section {
    grid-column: span 6;
  }
}
@media (min-width: 1000px) {
  .footer .content section {
    grid-column: span 4;
  }
}
