/** Fótur **/

.footer {
    display: grid;
  
    /* justify-items: center; */
  
    padding: var(--vertical-space);
    border-top: var(--border-large) solid var(--color-gold);
  
    background-color: var(--color-dark);
    color: var(--color-gold-light);
  
    text-align: center;
  }
  
  .footer ul {
    list-style: none;
  }
  