.header {
  display: flex;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("myndir/background.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 500px) {
  .header {
    clip-path: none;
  }
}

.mainheader {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
  justify-content: center;
  /* margin: 0 auto; */
  width: var(--width-offset);
  max-width: var(--max-width);
}

.small-header {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainheading {
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 87px 0 105px;
  width: var(--width-offset);
  max-width: var(--max-width);
}

// .subheading {
//   display: flex;
//   align-items: center;

//   flex-direction: column;
// }

@media (max-width: 1400px) {
  .mainheading h1 {
    font-size: 160px;
    line-height: 192px;
  }

  .mainheading .subheading {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 500px) {
  .mainheading h1 {
    font-size: 80px;
  }

  .mainheading .subheading {
    font-size: 36px;
  }
}
