.header {
  display: flex;


  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainheader {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--vertical-space);
  justify-content: center;
  /* margin: 0 auto; */
  width: var(--width-offset);
  max-width: var(--max-width);
}

.small-header {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainheading {
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 87px 0 105px;
  width: var(--width-offset);
  max-width: var(--max-width);
}

// .subheading {
//   display: flex;
//   align-items: center;

//   flex-direction: column;
// }

@media (min-width: 499px) {
  .mainheading {
    font-size: 38px;
  }

  .mainheading .subheading {
    font-size: 36px;
  }
}

@media (max-width: 1400px) {
  .mainheading h1 {
    font-size: 160px;
    line-height: 192px;
  }

  .mainheading .subheading {
    font-size: 36px;
    line-height: 48px;
  }
}
