.vara {
    display: grid;
    grid-template-rows: auto;
    gap: var(--vertical-space);
    margin-top: 4rem;
  
    .var {
      display: flex;
      grid-column: span 12;
      flex-direction: column;
      
      h1{
        font-size: 60px;
      }
      p{
        margin-bottom: 1rem;
      }
      .slay{
        justify-content: left;
      }
      .side{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        button{
            padding: 0 4rem 0 4rem;
            font-size: 14px;
        }
        p{
            font-size: 20px;
        }
      }

    }

    .var img {
        max-height: 300px;
        object-fit: cover;
        object-position: top center;
      }
  }

  @media (min-width: 500px) {
    .vara{
       
        grid-template-columns: repeat(var(--columns), 1fr);

        .var{
            grid-column: span 6;
        }
    }
    
  }



